.registerWrapper{
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registerWrapper input{
    margin:2em auto;

}
.registerBtn{
    transition: 0.4s all;
    background-color: var(--blue-clr);
    font-size: 1.1rem;
    width: fit-content;
    border: none;
}
.registerBtn:hover{
    background-color: var(--dark-clr);
    color: #fff;
    outline: 1px solid var(--blue-clr)
    
}
.welcomeTitle{
    font-family: var(--font-bold);
    font-size: 4em;
    color: var(--blue-clr);
    margin-bottom: 1em;
}

.error{
    display: flex;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
    padding: 0 10px;
    border-radius: 8px;
    margin-top: 30px;
    font-size: 1rem;
    background-color: rgb(0, 0, 0,0.4);
}