/* Styles Hamburguer Mobile */

button[aria-expanded="false"]>.close {
    display: none;
}

button[aria-expanded="true"]>.open {
    display: none;
}
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

.navbarBrand {
    font-family: var(--font-bold);
    color: var(--blue-clr);
    letter-spacing: 2px;
}

.navbarBrand span {
    color: #fff;
    font-size: 1.4rem;
}

.navbar-nav{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-nav a{
    margin: 0 1.5em;
}

.userContainer a:focus{
    background-color: rgba(255,255,255,0.9) !important;
}

.userContainer{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userContainer a{
    margin: 0.5em 1em;
    color:black !important;
    background-color: var(--blue-clr);
    border: none;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s ;
}
.userContainer a:hover{
    color:var(--blue-clr) !important;
    background-color: var(--dark-clr);
    outline: 1px solid var(--blue-clr);
}
.nav-link{
    border-radius: 20px;
    color: var(--blue-clr) !important;
    transition: 0.5s;
    margin: 0 10px;
    transition: 0.7s all;
}
.active{
    border-bottom: 8px solid var(--blue-clr);
    border-top: 8px solid var(--blue-clr);
    color: #fff !important;
    text-shadow: 0 0 3px #fff !important;
}
.navbar-toggler{
    background-color: var(--blue-clr) !important;
}

.navbar-toggler:active{
   box-shadow: none !important;
   outline: none !important;
}

@media screen and (max-width:1000px) {

    .userContainer{
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .navbar-nav{
        width: 100%;
        margin:0 !important;
    }
    .userContainer a{
        margin-top: 2em;
        margin-inline: 1em;
    }

}